{% extends 'base.html' %}
{% load static %}
{% block title %} Social Health: Stats {% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-12 mb-3">
        <h4 class="text-center"> Welcome {{ ass.extra_data.name }} </h4>
    </div>

    {% for ass in backends.associated %}
    {% if ass.provider == 'facebook' %}
      <div class="col-md-6 text-center">
          <img src="{{ass.extra_data.picture.data.url}}" alt="" width="150" height="150" style="border-radius: 50%">
      </div>

      <div class="col-md-6 social-container my-2">
        <p> Signed in via:  {{ ass.provider }} </p>
        <p> Name:  {{ ass.extra_data.name }} </p>
        <p> Likes: {{ likeCount }}</p>
        {% if trendLikes == 'neutral' %}
        <p> Change in Likes: {{ changeInLikes }}</p>
        {% elif trendLikes == 'positive' %}
        <p> Change in Likes: <img src="{% static 'upArrow.png' %}" width="40" height="40"> {{ changeInLikes }}</p>
        {% else %}
        <p> Change in Likes: <img src="{% static 'downArrow.png' %}" width="40" height="40"> {{ changeInLikes }}</p>
        {% endif %}
        <p> Friends: {{ friendCount }}</p>
        {% if trendFriends == 'neutral' %}
        <p> Change in Friends: {{ changeInFriends }}</p>
        {% elif trendFriends == 'positive' %}
        <p> Change in Friends: <img src="{% static 'upArrow.png' %}" width="40" height="40"> {{ changeInFriends }}</p>
        {% else %}
        <p> Change in Friends: <img src="{% static 'downArrow.png' %}" width="40" height="40"> {{ changeInFriends }}</p>
        {% endif %}
        <p> Events: {{ eventCount }}</p>
        {% if trendEvents == 'neutral' %}
        <p> Change in Events: {{ changeInEvents }}</p>
        {% elif trendEvents == 'positive' %}
        <p> Change in Events: <img src="{% static 'upArrow.png' %}" width="40" height="40"> {{ changeInEvents }}</p>
        {% else %}
        <p> Change in Events: <img src="{% static 'downArrow.png' %}" width="40" height="40"> {{ changeInEvents }}</p>
        {% endif %}
      </div>
    {% endif %}
    {% endfor %}
    <div class="col-sm-12 mt-2 text-center">
    <button class="btn btn-danger">
      <a href="{% url 'logout' %}">Logout</a>
    </button>
    </div>
</div>

{% endblock %}
